.form-body {
  .sub-heading {
    font-size: 1.6rem;
    font-weight: normal;
    margin-bottom: 30px;
  }
  
  .centered-content {
    margin: 0 auto;
    text-align: center;

    .addButton {
      background-color: rgb(169, 118, 236);
      color:whitesmoke;
      font-size: large;
      font-weight: lighter;;
    }
  }
}


