.form-body {
  width: 40%;
  margin: 20vh auto;
  padding: 3%;
  border: 1px solid rgb(199, 199, 199);
  box-shadow: (0 0  10px rgb(150, 148, 148));
  border-radius: 2px;

  h1 {
    font-size: 3em;
    font-weight: bolder;
    text-align: center;
  }
  
  .buttons-row{
    margin-top: 20%;
    .btn{
      padding: 3% 8%;
      font-size: 1.4rem;
      font-weight: lighter;
      margin: 0 20px;
      text-transform: uppercase;
      color: white;
    }
    .purple-btn {
      background-color: rgb(169, 138, 253);
    }
    .green-btn {
      background-color: rgb(99, 170, 111);
    }
  }
  .errMessage {
    color: rgb(209, 109, 109);
  }
}

